# Ignore intermediate CMake files and Makefiles.
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
.ninja_deps
.ninja_log
build.ninja
rules.ninja

# Also on windows
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sdf
*.sln
*.suo
*.ipch

# Install
install_manifest.txt

# Ignore swap files from Vim.
*.swp

# Ignore tag files.
tags

# Ignore config.h
config.h

# Ignore executables and compiled files.
source/bin/
Debug/
Release/
Win32/
SpecIde
*Test
*.exe
*.ilk
*.pdb
*.manifest

# Ignore Spectrum files for testing.
*.rom
*.scr
*.tap
*.tzx
*.dsk
*.csw
*.cdt
*.z80
*.sna

# These files can also be ignored.
*.asm
*.txt
*.zip
